@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewBag.AdminName !</h1>
<h3 class="">Welcome to admin workspace</h3>
<hr/>
<p>Here you can add, edit or delete animals and categories</p>
<p>Good luck!</p>
<br/>
<p>have a good one.. :)</p>



