<li class="nav-item">
	<a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Catagories</a>
</li>
<li class="nav-item">
	<a class="nav-link text-dark" asp-area="Admin" asp-controller="Animal" asp-action="Index">Animals</a>
</li>

